@media (max-width: 1280px) {
    .container {
        padding: 0 24px;
    }

    .special-cards__wrapper {
        justify-content: flex-start;
        gap: 32px;
    }

    .logo.logo-footer,
    .footer__menu-wrapper,
    .footer__contacts {
        margin-right: 0;
    }

    .footer__content-wrapper {
        justify-content: space-between;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .container {
        padding-left: calc(50% - 768px/2);
        padding-right: calc(50% - 768px/2);
    }
}

@media (max-width: 1024px) {
    .card {
        max-width: 368px;
    }

    .basket__wrapper {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;
        column-gap: 0;
    }

    .basket__cards-content {
        grid-column: span 12;
    }

    .logo-footer {
        display: none;
    }

    // .basket-form {
    //     padding-bottom: 163px;
    // }
}